body{
    margin: 0;
    font-family: 'Oswald', sans-serif;

}
/* top section start */
h1 {
    font-size: 50px;
    font-family: 'Pirata One', cursive;
}
.name-highlight {
    color: orange;
}
h3{
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
}
p{
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    text-align: justify;
    font-size: 25px;

}
.half-width {
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}.half-width img{
    width: 100%;
}
img{
    padding-top: 40px;
}
.top-banner {
    background-image: url("images/top-banner.png");
    padding-bottom: 50px;
    
}
section{
    height: 500px;
    background-repeat: no-repeat;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(45deg,  lightsalmon, tomato);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
/* top section end */

/* second section start */
h1 {
    font-size: 60px;
    font-family: 'Pirata One', cursive;
}
.name-highlight {
    color: orange;
}
h3{
    font-family: 'Poppins', sans-serif;
}
p{
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    text-align: justify;

}
.half-width {
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
}
img{
    padding-top: 40px;
}

section{
    height: 500px;
    background-repeat: no-repeat;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(45deg,  lightsalmon, tomato);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
.second-banner {
    background-image: url("images/dream-bg.png"); 
    background-position: right;
    /* padding-bottom: 80px; */

}
/* second section end */

/* Third section start */
.single-experience {
    box-shadow: 10px 10px 40px  gray;
    height: 80%;
    padding-right: 40px;
}
.experience {
    text-align: left;
}
.third-banner{
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
}
#full-stack{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, lightsalmon, tomato);
    border-image-slice: 1;
}
#noob-stack{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, blue, cyan);
    border-image-slice: 1;
}
/* Third section end */